* {
    font-family: 'Montserrat Alternates';
    margin: 0px;
}
body {
    background-color: #BABAC5;
}
img {
    width: 100%;
    object-fit: cover;
}
.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F8FFF;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: #252525;
}
.nav-buttons>button {
    background-color: #4F8FFF;
    border-style: 1px solid #0045BD;
    height: 100%;
    padding: 1rem;
}
.nav-buttons>button:hover {
    background-color: #0045BD;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.category-card {
    background-color: #252525;
    color: #FFF;
    width: 45%;
}


/* CSS FOR WHEN THIS APP RUNS ON TABLET */
@media (max-width: 960px) {
    .category-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category-card {
        width: 70%;
        padding: 1rem;
        border-radius: 1rem;
    }
}

/* CSS FOR WHEN THIS APP RUNS ON MOBILE DEVICE */
@media (max-width: 400px) {
    
    
    .category-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category-card {
        width: 70%;
        padding: 1rem;
        border-radius: 1rem;
    }
}
