* {
    font-family: 'Montserrat Alternates';
    margin: 0px;
}
body {
    background-color: #9453EF;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5110AB;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: #252525;
}
.nav-buttons>button {
    background-color: #5110AB;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #2D095F;
    height: 100%;
    padding: 1rem;
}
.nav-buttons>button:hover {
    background-color: #2D095F;
}

/* .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} */

.category-card {
    background-color: #252525;
    color: #FFF;
    width: 45%;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

#physical-health-card {
    margin-top: 1rem;
    background-color: #FB5607;
}
#affirmations-card {
    background-color: #FFBE0B;
}
#diet-card {
    background-color: greenyellow;
}
#habits-card {
    background-color: #8338EC;
}
#hobbies-card {
    background-color: #3A86FF;
}
#self-care-card {
    background-color: #FF006E;
}

/* CSS FOR DESKTOP VIEWING */
@media (min-width: 999px) {
    .categories {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .category-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CSS FOR WHEN THIS APP RUNS ON TABLET */
@media (max-width: 960px) {
    .category-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category-card {
        width: 70%;
    }
}

/* CSS FOR WHEN THIS APP RUNS ON MOBILE DEVICE */
@media (max-width: 400px) {
    .category-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category-card {
        width: 70%;
    }
}
